/* 

The one style sheet for Quotations 1

Authors: Rick Mercer and Kevin Callaghan

*/
.container {
	vertical-align: text-top;
	border: 6px black solid;
	border-radius: 14px;
	padding: 10px;
	margin: 15px;
	font-size: 10pt;	
}

.formContainer{
	vertical-align: text-top;
	border: 6px black solid;
	border-radius: 14px;
	padding: 10px;
	margin: 10px;
	font-size: 10pt;
	width: 200px;	
}

.quoteInput{
	padding: 5px;
	margin: 5px;
}

.authorInput{
	width: 33%;
	margin: 5px;
}